<!-- blog/templates/blog/blog_delete.html -->

{% extends 'blog/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2>Delete Blog</h2>
        <p>Are you sure you want to delete the blog "{{ blog.heading }}"?</p>
        <form method="POST" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'blog_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
