<!-- blog/templates/blog/blog_detail.html -->
{% extends 'blog/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ blog.heading }}</h5>
            <p class="card-text">{{ blog.content }}</p>
            <p class="card-text"><small class="text-muted">Added by {{ blog.created_by }} on {{ blog.created_at }}</small></p>
            <a href="{% url 'blog_list' %}" class="btn btn-secondary">Back to Blog List</a>
        </div>
    </div>
</div>
{% endblock %}
